.content_post{:style => "background-image: url(#{tweet.image});"}
  - if user_signed_in? && current_user.id == tweet.user_id
    .more
      %span
        = image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to '詳細', "/tweets/#{tweet.id}"
        - if user_signed_in? && current_user.id == tweet.user_id
          %li
            = link_to ' 編集', " /tweets/#{tweet.id}/edit"
          %li
            = link_to '削除', "/tweets/#{tweet.id}", method: :delete
  = simple_format(tweet.text)
  %span.name
    = link_to '投稿者', "/tweets/tweet_user_show/#{tweet.user_id}"
    = tweet.user.Nickname
